beautifulsoup4==4.9.1
boto3==1.13.24
botocore==1.16.24
bs4==0.0.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
docutils==0.15.2
Flask==1.1.2
Flask-Cors==3.0.8
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath==0.10.0
lxml==4.5.1
MarkupSafe==1.1.1
numpy==1.18.5
opencv-python==4.2.0.34
opencv-utils==0.0.2
pandas==1.0.4
praw==7.0.0
prawcore==1.4.0
pyexifinfo==0.4.0
python-dateutil==2.8.1
python-magic==0.4.18
pytube==9.6.0
pytube3==9.6.4
pytz==2020.1
requests==2.23.0
s3transfer==0.3.3
six==1.15.0
soupsieve==2.0.1
storedoc==0.1.8
typing-extensions==3.7.4.2
update-checker==0.17
urllib3==1.25.9
uuid==1.30
websocket-client==0.57.0
Werkzeug==1.0.1
youtube-dl==2020.6.6
